#navigation {
  @apply fixed w-full z-50 h-16 overflow-hidden;
  @apply md:h-24;

  .wrapper {
    @apply grid grid-rows-[4rem_1fr] container font-semibold uppercase;
    @apply md:grid md:grid-cols-[6rem_1fr_6rem] md:grid-rows-[6rem] md:p-0 md:place-items-center;

    & > .logo-wrapper {
      @apply hidden bg-primary size-full px-4;
      @apply md:flex items-center justify-center;

      & > svg {
        @apply h-[50px] fill-none stroke-white stroke-[5px];
      }
    }

    & > .buttons-wrapper {
      @apply flex justify-between p-4 pb-0;
      @apply md:order-3 md:p-0;

      & > * {
        @apply p-2 h-full;

        & > svg {
          @apply w-8 transition-colors;
        }
      }

      & > .mobile-menu-button {
        @apply md:hidden;

        & > * {
          @apply stroke-white stroke-[3px];
        }
      }

      & > .cart-link {
        @apply border-2 border-transparent rounded-full transition-colors;
        @apply hover:border-[#F1FF00];
      }
    }

    & > .menu-items {
      @apply flex flex-col items-start gap-4 ms-16 mt-4;
      @apply md:order-2 md:flex-row md:gap-20 md:m-0;

      & > li {
        @apply font-semibold py-2 uppercase border-b-2 border-transparent hover:border-[#F1FF00] transition-colors;

        &:first-child {
          @apply md:hidden;
        }
      }

      @media (max-width: 767px) {
        @apply text-white;

        & > li {
          @apply opacity-0 translate-x-14 transition-all;
        }
      }
    }
    & > .background {
      @apply absolute -z-10 inset-0 bg-primary;
      @apply md:hidden;

      clip-path: circle(1.5rem at 2.5rem 2.5rem);
      transition: 0.5s;
    }
  }
}

#navigation[data-menu="open"] {
  @apply h-screen;

  & > .wrapper {
    & > .background {
      clip-path: circle(calc(100vh * sqrt(2)) at 2.5rem 2.5rem);
    }
    & > .buttons-wrapper > .cart-link > svg {
      @apply stroke-white;
    }
    & > .menu-items {
      & > li {
        animation-name: animateIn;
        animation-duration: 250ms;
        animation-delay: calc(var(--menu-items-item) * 100ms);
        animation-fill-mode: forwards;

        @keyframes animateIn {
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

#navigation[data-menu="closed"] {
  @apply delay-500;
}
