.hero-heading {
  @apply relative font-black italic text-7xl uppercase text-auto-text;
  @apply sm:text-8xl;

  &,
  & * {
    @apply select-none;
  }

  & > span {
    & > span {
      @apply absolute;

      transition: transform 350ms cubic-bezier(0.25, 0.1, 0, 2),
        opacity 100ms linear;
      /* transition-delay: 250ms; */

      &:first-child {
        @apply opacity-100 translate-y-0 text-primary;
      }
      &:last-child {
        @apply opacity-0 translate-y-6 text-secondary;
      }
    }
    &:after {
      content: "\a";
      white-space: pre;
    }
  }

  &:hover > span {
    & > span:first-child {
      @apply opacity-0 -translate-y-6;
    }
    & > span:last-child {
      @apply opacity-100 translate-y-0;
    }
  }
}
