.hero-v3 {
  @apply relative w-full flex justify-center items-center overflow-x-hidden;
  @apply lg:h-screen;

  &--wrapper {
    @apply container grid grid-rows-2 px-4 py-20;
    @apply lg:grid-cols-2 lg:grid-rows-1 lg:p-8;
  }

  &--col1 {
    @apply relative justify-self-center flex justify-center items-center h-[500px];
    @apply lg:order-2 lg:h-[550px];
    @apply xl:h-[600px];

    & > svg {
      @apply absolute left-1/2 -translate-x-1/2 -z-10 h-full;
    }

    &::before,
    &::after {
      @apply absolute size-[450px] rounded-full content-[""] -z-30;
      @apply sm:size-[500px];
      @apply lg:size-[550px];
      @apply xl:size-[600px];
    }

    &::before {
      background: rgb(var(--coords-primary-deep));
      background-image: var(--noise-pattern);
      background-size: var(--noise-size);
    }

    &::after {
      background: radial-gradient(
        circle at 50% 50%,
        rgb(var(--coords-primary-light)),
        rgba(var(--coords-primary-deep), 0)
      );
    }
  }

  &--col2 {
    @apply order-2 grid grid-rows-[5rem_min-content_1fr] mx-auto;
    @apply sm:w-3/4;
    @apply lg:order-1 lg:grid-rows-[1fr_min-content_1fr] lg:w-auto;

    & > div:last-child {
      @apply flex flex-col;

      & > p {
        @apply grow flex items-center leading-loose text-primary;
      }
      & > div {
        @apply flex justify-between text-base;
      }
    }
  }
}
