/* #footerBg {
  --footer-bg-from: var(--v3dark);
  --footer-bg-to: var(--v3dark-deep);
  --footer-bg-noise: var(--v3dark-deep-noise);
}

@media (prefers-color-scheme: dark) {
  #footerBg {
    --footer-bg-from: var(--v3grey);
    --footer-bg-to: var(--v3grey-deep);
    --footer-bg-noise: var(--v3grey-noise);
  }
} */
