.v3-action {
  @apply h-10 uppercase font-semibold inline-flex gap-3 items-center;

  --bezier: cubic-bezier(0.25, 0.1, 0, 2);

  &,
  &--w-icon > div {
    transition: background-color 100ms linear, color 100ms linear,
      transform 350ms var(--bezier), border-radius 350ms var(--bezier),
      filter 350ms var(--bezier);
  }

  &--w-icon {
    & > div:first-child {
      @apply w-10 border-2 border-transparent rounded-full p-1.5;
    }

    &:hover > div:first-child {
      @apply scale-105 drop-shadow;
      @apply active:scale-100 active:drop-shadow-none;
    }

    &.var--full.var--primary > div:first-child {
      @apply bg-v3yellow;
    }

    &.var--full.var--secondary > div:first-child {
      @apply bg-v3green;
      & > svg {
        @apply stroke-white;
      }
    }

    &.var--outline.var--primary {
      & > div:first-child {
        @apply border-v3yellow;
      }

      &:hover > div:first-child {
        @apply bg-v3yellow;
      }
    }

    &.var--outline.var--secondary {
      & > div:first-child {
        @apply border-v3green;
      }

      &:hover > div:first-child {
        @apply bg-v3green;
        & > svg {
          @apply stroke-white;
        }
      }
    }
  }

  &--label {
    @apply uppercase font-semibold border-transparent;

    &.var--full,
    &.var--outline {
      @apply w-40 justify-center rounded-md border-[3px];

      &:hover {
        @apply scale-105 drop-shadow rounded-[2rem];
        @apply active:scale-100 active:drop-shadow-none;
      }
    }

    &.var--full.var--primary {
      @apply bg-v3yellow;
    }

    &.var--full.var--secondary {
      @apply bg-v3green text-white;
    }

    &.var--outline.var--primary {
      @apply border-v3yellow;

      &:hover {
        @apply bg-v3yellow;
      }
    }

    &.var--outline.var--secondary {
      @apply border-v3green;

      &:hover {
        @apply bg-v3green text-white;
      }
    }

    &.var--underline {
      @apply relative;

      &:hover:before {
        @apply border-b-[3px] absolute left-0 bottom-0 w-0 content-[""];
        animation: border_anim 250ms ease-out forwards;
      }

      @keyframes border_anim {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
    }

    &.var--underline.var--primary:hover:before {
      @apply border-v3yellow;
    }

    &.var--underline.var--secondary:hover:before {
      @apply border-v3green;
    }
  }
}
