@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --coords-white: 255, 255, 255;
  --coords-light: 251, 250, 249;
  --coords-dark: 41, 46, 46;
  --coords-primary: 58, 148, 255;
  --coords-secondary: 255, 26, 123;

  /* Gradient */
  /* --noise-pattern: url(https://l4fqnthlyi7x.connect.remote.it/noise-strong.png); */
  --noise-pattern: url(http://localhost:3000/noise-strong.png);
  --noise-size: 150px;

  @media screen(lg) {
    --noise-size: 100px;
  }

  /* Spacing */
  --spacing: 2.25rem;
  --spacing-sm: 1.5rem;
  --spacing-xs: 0.75rem;
}

:root:not(.dark) {
  --auto-white: rgba(var(--coords-white));
  --auto-link: rgb(var(--coords-link));
  --auto-text: rgb(var(--coords-dark));
  --auto-text--invert: rgb(var(--coords-light));
  --auto-strong: hsl(180, 6%, 45%);
  --auto-contrast: rgb(var(--coords-dark));
  --auto-contrast--invert: rgb(var(--coords-light));
}

/* @media (prefers-color-scheme: dark), */
:root.dark {
  --auto-white: rgba(var(--coords-light));
  --auto-link: rgba(var(--coords-light));
  --auto-text: rgb(var(--coords-light));
  --auto-text--invert: rgb(var(--coords-dark));
  --auto-strong: hsl(180, 6%, 45%);
  --auto-contrast: rgb(var(--coords-light));
  --auto-contrast--invert: rgb(var(--coords-dark));
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply relative bg-auto-contrast_invert text-auto-text text-sm font-normal;

    & > main {
      @apply min-h-screen overflow-x-hidden;

      &:has(> :first-child:not(#hero)) {
        @apply pt-32;
      }

      &:has(> :last-child:not(#hero)) {
        @apply pb-32;
      }
    }
  }

  h1,
  h2,
  h3 {
    @apply font-black uppercase;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-base;
  }

  b,
  strong {
    @apply g__strong;
  }
}

@layer components {
  /* global */
  .g {
    &__strong {
      @apply font-bold text-auto-strong;
    }

    &__p {
      /* t */
      &,
      &y,
      &y {
        padding-top: var(--spacing);

        &-sm {
          padding-top: var(--spacing-sm);
        }
        &-xs {
          padding-top: var(--spacing-xs);
        }
      }

      /* e */
      &,
      &x,
      &e {
        padding-right: var(--spacing);

        &-sm {
          padding-right: var(--spacing-sm);
        }
        &-xs {
          padding-right: var(--spacing-xs);
        }
      }

      /* b */
      &,
      &y,
      &b {
        padding-bottom: var(--spacing);

        &-sm {
          padding-bottom: var(--spacing-sm);
        }
        &-xs {
          padding-bottom: var(--spacing-xs);
        }
      }

      /* s */
      &,
      &x,
      &s {
        padding-left: var(--spacing);

        &-sm {
          padding-left: var(--spacing-sm);
        }
        &-xs {
          padding-left: var(--spacing-xs);
        }
      }
    }

    &__gap {
      &,
      &-x {
        column-gap: var(--spacing);

        &-sm {
          column-gap: var(--spacing-sm);
        }
        &-xs {
          column-gap: var(--spacing-xs);
        }
      }

      &,
      &-y {
        row-gap: var(--spacing);

        &-sm {
          row-gap: var(--spacing-sm);
        }
        &-xs {
          row-gap: var(--spacing-xs);
        }
      }
    }

    &__space-y {
      @apply space-y-[var(--spacing)];

      &-sm {
        @apply space-y-[var(--spacing-sm)];
      }

      &-xs {
        @apply space-y-[var(--spacing-xs)];
      }
    }
  }
}

/* TODO: Move to modal stylesheet - START */
.scroll-bar-compensation {
  @media (min-width: 768px) {
    padding-right: 17px;
  }
}

.modal-lockdown {
  overflow: hidden;
  @apply scroll-bar-compensation;
}
/* TODO: Move to modal stylesheet - END */

/* TODO:
1. Refactor
2. Redefine new name as class
*/
#page_content {
  h1,
  h2,
  h3,
  p,
  ul,
  table {
    @apply mb-4;
  }
  p,
  ul,
  table {
    @apply ms-8;
  }
  a {
    @apply text-primary border-transparent uppercase duration-300 hover:border-current;
  }
  table {
    @apply border border-grey-light w-full;
  }
  td {
    @apply px-2 py-1;
  }
}
