.action {
  @apply h-10 font-bold inline-flex gap-3 items-center;

  --_bezier: cubic-bezier(0.25, 0.1, 0, 2);
  --_background: ;
  --_foreground: ;
  --_foreground-hover: ;

  &__icon {
    @apply w-10 border-2 border-transparent rounded-full p-1.5;
  }

  &.color {
    &--primary {
      --_foreground-hover: rgb(var(--coords-white));

      &:not(:disabled) {
        --_background: rgb(var(--coords-primary));
        --_foreground: var(--auto-link);
      }
      &:disabled {
        --_background: rgb(var(--coords-ghost));
        --_foreground: var(--auto-link);
      }
    }

    &--secondary {
      --_foreground-hover: rgb(var(--coords-white));

      &:not(:disabled) {
        --_background: rgb(var(--coords-secondary));
        --_foreground: var(--auto-text);
      }

      &:disabled {
        --_background: rgb(var(--coords-ghost));
        --_foreground: var(--auto-text);
      }
    }
  }

  &.active {
    &--button,
    &--icon > .action__icon {
      @apply border-transparent transform-gpu;

      transition: background-color 100ms linear, color 100ms linear,
        transform 350ms var(--_bezier), border-radius 350ms var(--_bezier),
        filter 350ms var(--_bezier), box-shadow 350ms var(--_bezier);
    }

    &--icon:not(:disabled):hover > .action__icon {
      @apply scale-105 drop-shadow;
      @apply active:scale-100 active:drop-shadow-none;
    }
  }

  &.active--icon.variant {
    &--filled > .action__icon {
      @apply bg-[--_background] text-[--_foreground-hover];
    }

    &--outlined {
      & > .action__icon {
        @apply border-[--_background] text-[--_foreground];
      }

      &:not(:disabled):hover > .action__icon {
        @apply bg-[--_background] text-[--_foreground-hover];
      }
    }
  }

  &.active--button.variant {
    &--filled,
    &--outlined {
      @apply w-40 justify-center rounded-md border-[3px] text-[--_foreground];

      &:not(:disabled):hover {
        @apply scale-105 shadow rounded-[2rem];
        @apply active:scale-100 active:shadow-none;
      }
    }

    &--filled,
    &--outlined:not(:disabled):hover {
      @apply bg-[--_background] text-[--_foreground-hover];
    }

    &--outlined {
      @apply border-[--_background];
    }

    &--underscored {
      @apply relative text-[--_foreground];

      &:not(:disabled):hover:before {
        @apply border-[--_background] text-[--_foreground-hover] border-b-[3px] absolute left-0 bottom-0 w-0 content-[""];
        animation: animate-underscore 250ms ease-out forwards;
      }
    }

    @keyframes animate-underscore {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }
  }
}
